<a href="https://colab.research.google.com/github/khizzer0/lab1/blob/main/Copy_of_lab_1_ai.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**4th semester lab 1 work**

In [ ]:
x = 10  # Assigns the value 10 to the variable x

In [ ]:
age = 25

In [ ]:
a = 5
b = 7
result = (a == b)  # Evaluates to False

In [ ]:
temperature = 98.6

In [ ]:
x, y, z = 10, 20, 30

In [ ]:
a = b = c = 42

In [ ]:
num1 = 15
num2 = 7
sum_result = num1 + num2
difference_result = num1 - num2
product_result = num1 * num2
quotient_result = num1 / num2

In [ ]:
pi = 3.14159
radius = 5.0
circumference = 2 * pi * radius

In [ ]:
x = 10
print(x)  # Output: 10

10

In [ ]:
x = 10
y = 20
print(x, y)  # Output: 10 20

10 20

In [ ]:
name = 'khizzer'
age = 21
print(f"My name is {name} and I am {age} years old.")
# Output: My name is khizzer and I am 21 years old.

My name is khizzer and I am 21 years old.

In [ ]:
x = 5
y = 3
print(f"The sum of {x} and {y} is {x + y}.")  # Output: The sum of 5 and 3 is 8.

The sum of 5 and 3 is 8.