<a href="https://colab.research.google.com/github/khizzer0/lab1/blob/main/lab%202%20and%203.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **LAB 2 AND 3**



> **TASK1:**


1.	Print at least 5 types of data type


> **Numeric Data Types:**


These represent numeric values.
 The main numeric types are:


> **int:** Holds signed integers of non-limited length.

> **float:** Holds floating-point decimal numbers (accurate up to 15 decimal places).


> **complex:** Holds complex numbers

In [5]:
# NUMERIC DATA TYPE
num1 = 10
num2 = 2.0
num3 = 10 + 7j
print(num1, 'is  type  of', type(num1))
print(num2, 'is  type  of', type(num2))
print(num3, 'is  type  of', type(num3))

10 is  type  of <class 'int'>
2.0 is  type  of <class 'float'>
(10+7j) is  type  of <class 'complex'>

**INT DATA TYPE**

**1.Positive Integer:**
An int variable can hold positive whole numbers.

In [10]:
age = 30

**2.Negative Integer:**
It can also hold negative integers.

In [12]:
debt = -500

# ** 3. Arthemetic Operations with Integers:**
You can perform arithmetic operations:

In [15]:
num1 = 10
num2 = 3
sum_result = num1 + num2
difference_result = num1 - num2
product_result = num1 * num2
quotient_result = num1 // num2  # Integer division
remainder_result = num1 % num2

**4.Type Checking:**
You can use the type() function to check the data type:

In [17]:
x = 5
print(type(x))  # Output: <class 'int'>

<class 'int'>

**5.Indexing in Lists:**
Integers are commonly used as indices in lists

In [19]:
languages = ["Python", "Java", "C++"]
print(languages[0])
print(languages [2])

Python
C++

**FLOAT DATA TYPE**

# **1.Positive Floating-Point Number:**
A float variable represents decimal or fractional values.

In [20]:
pi = 3.14159

**2.Negative Floating-Point Number:**
It can also hold negative floating-point values.

In [21]:
temperature = -2.5

**3.Scientific Notation:**
You can use scientific notation by appending e or E followed by a positive or negative integer.

In [22]:
large_number = 32.3e18

**4.Operations with Floats:**
Perform arithmetic operations

In [23]:
num1 = 10.5
num2 = 3.0
sum_result = num1 + num2
difference_result = num1 - num2
product_result = num1 * num2
quotient_result = num1 / num2

**5.Type Checking:**
Use the type() function to check the data type:

In [27]:
x = 5.5
print(type(x))

<class 'float'>

**COMPLEX DATA TYPES**

**1.Lists:** Lists are ordered collections of items. They can contain any type of data, including other lists.

In [29]:
my_list = [1, 2, 3, 'a', 'b', 'c']

**2.Tuples:** Tuples are immutable ordered collections of items. They are similar to lists, but cannot be modified once created.

In [30]:
my_tuple = (1, 2, 3, 'a', 'b', 'c')

**3.Dictionaries:** Dictionaries are unordered collections of key-value pairs. They are accessed and modified using keys.

In [31]:
my_dict = {'name': 'KHIZZER JADOON', 'age': 21, 'city': 'ABBOTTABAD'}

**4.Sets:** Sets are unordered collections of unique elements. They are useful for removing duplicates and performing set operations.

In [32]:
my_set = {1, 2, 3, 'a', 'b', 'c'}

**5.Frozen Sets:**
Frozen sets are immutable sets. They cannot be modified once created.

In [ ]:
my_frozen_set = frozenset({1, 2, 3, 'a', 'b', 'c'})

# **TASK 2  Type Conversion Examples:**

In [34]:
# Convert integer to float
num_int = 10
num_float = float(num_int)

# Convert string to integer
num_str = '10'
num_int = int(num_str)

# Convert float to string
num_float = 10.5
num_str = str(num_float)

# **TASK 3 Assign Multiple Strings to Single Variable:**

In [36]:
name = 'KHIZZER'
reg_no = '1234567890'
program = 'Artificial Intellegence'
semester = 'Fall 2022'

# Assign all values to a single variable
details = f'Name: {name}, Registration Number: {reg_no}, Program: {program}, Semester: {semester}'

# **4.Access Last 3 Characters of Country Name:**

In [38]:
country = 'Bangladesh'
last_3_chars = country[-3:]
print(last_3_chars)  # Output: esh

esh

# **5.Check if len() Counts Spaces:**

In [40]:
sentence = 'Hello, World!'
length = len(sentence)
print(length)  # Output: 13

# Remove spaces and calculate length
sentence_no_spaces = sentence.replace(' ', '')
length_no_spaces = len(sentence_no_spaces)
print(length_no_spaces)  # Output: 11

13
12

# **6.Access 2nd and 3rd Characters of Name Using Negative Indexes:**

In [42]:
name = 'John Doe'

# Access 2nd character (using negative index)
second_char = name[-5]
print(second_char)  # Output: o

# Access 3rd character (using negative index)
third_char = name[-4]
print(third_char)  # Output: h

n

# **7.With Indexes:**

In [44]:
name = 'John Doe'
age = 30

# Pass index numbers to format() function
formatted_str = '{} {} is: {}'.format(2, name, age)
print(formatted_str)  # Output: John Doe is: 30

2 John Doe is: 30

# **Without Indexes:**

In [46]:
name = 'John Doe'
age = 30

# Without index numbers
formatted_str = '{} {} is: {}'.format(name, age, age)
print(formatted_str)  # Output: John Doe is: 30

John Doe 30 is: 30

# **8.Take Input and Display:**

In [47]:
# Take input from user
name = input('Enter your name: ')
age = int(input('Enter your age: '))

# Display input using format() function
print('{} age is: {}'.format(name, age))  # Output: John age is: 30

Enter your name: khizzer
Enter your age: 21
khizzer age is: 21