<a href="https://colab.research.google.com/github/khizzer0/lab1/blob/main/WORK_4_AND_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
fruits = ["apple", "banana", "cherry", "date"]
print("First fruit:", fruits[0])
print("Last fruit:", fruits[-1])

First fruit: apple
Last fruit: date

In [2]:
colors = ["red", "green", "yellow", "orange"]
colors[1] = "blue"
print("Updated colors:", colors)

Updated colors: ['red', 'blue', 'yellow', 'orange']

In [4]:
numbers = [1, 2, 3, 4, 5]
numbers.append(10)
print("Updated numbers:", numbers)

Updated numbers: [1, 2, 3, 4, 5, 10]

In [6]:
animals = ["lion", "tiger", "elephant", "donkey"]
del animals[2]
print("Updated animals:", animals)

Updated animals: ['lion', 'tiger', 'donkey']

In [8]:
cities = ["Abbottabad", "Islamabad", "Lahore", "Karachi"]
for city in cities:
    print(city)

Abbottabad
Islamabad
Lahore
Karachi

In [9]:
original_numbers = list(range(1, 11))
squared_numbers = [num ** 2 for num in original_numbers]
print("Squared numbers:", squared_numbers)

Squared numbers: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [10]:
names = ["khizzer", "haseeb", "tanveer", "daniyal"]
names.sort()
print("Sorted names:", names)

Sorted names: ['daniyal', 'haseeb', 'khizzer', 'tanveer']

In [11]:
original_fruits = ["apple", "banana", "cherry"]
copied_fruits = original_fruits.copy()
print("Copied fruits:", copied_fruits)

Copied fruits: ['apple', 'banana', 'cherry']

In [12]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
combined_list = list1 + list2
print("Combined list:", combined_list)

Combined list: [1, 2, 3, 4, 5, 6]

In [13]:
fruits = ["apple", "banana", "cherry"]
fruits.append("grape")
removed_fruit = fruits.pop()
print("Updated fruits:", fruits)
print("Removed fruit:", removed_fruit)

Updated fruits: ['apple', 'banana', 'cherry']
Removed fruit: grape

In [14]:
list1 = [1, 2, 3, 4, 5]
list2 = [6, 7, 8, 9, 10]
combined_sum = [num1 + num2 for num1, num2 in zip(list1, list2)]
print("Combined sum:", combined_sum)

Combined sum: [7, 9, 11, 13, 15]

In [15]:
original_numbers = [11, 22, 33, 44, 55, 66, 77, 88, 99]
even_numbers = [num for num in original_numbers if num % 2 == 0]
even_numbers.sort(reverse=True)
print("Even numbers (sorted in descending order):", even_numbers)

Even numbers (sorted in descending order): [88, 66, 44, 22]

In [16]:
original_numbers = [11, 22, 33, 44, 55, 66, 77, 88, 99]
even_numbers = [num for num in original_numbers if num % 2 == 0]
even_numbers.sort(reverse=True)
print("Even numbers (sorted in descending order):", even_numbers)

Even numbers (sorted in descending order): [88, 66, 44, 22]

In [17]:
# Creating a list of numbers from 1 to 10
original_numbers = list(range(1, 11))

# Using list slicing to extract even numbers in reverse order
even_numbers_reversed = original_numbers[1::2][::-1]

print("Original numbers:", original_numbers)
print("Even numbers (reversed):", even_numbers_reversed)

Original numbers: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Even numbers (reversed): [10, 8, 6, 4, 2]

In [18]:
# Creating lists of even and odd numbers
even_numbers = [2, 4, 6, 8, 10]
odd_numbers = [1, 3, 5, 7, 9]

# Combining lists alternately
combined_list = []
for even, odd in zip(even_numbers, odd_numbers):
    combined_list.append(even)
    combined_list.append(odd)

print("Combined list (alternating even and odd):", combined_list)

Combined list (alternating even and odd): [2, 1, 4, 3, 6, 5, 8, 7, 10, 9]